<div th:fragment="shoes">
	<div class="parag navShoes">
		<div class="row mainpage visible-sm visible-md visible-lg">
			<div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center">
				<img id="shoesPreview" src="" class="img img-rounded" alt="Preview" height="450"></img>
			</div>
		</div>
	</div>
	<div class="parag navShoes">
		<div class="row">
			<div class="col-md-1 col-lg-1 pointer"
				data-bind="click : shoes.previous">
				<span class="glyphicon glyphicon-chevron-left navArrow"
					aria-hidden="true"></span> <span class="sr-only"></span>
			</div>
			<div class="col-md-10 col-lg-10">
				<div class="row images">
					<div class="col-md-3 col-lg-3 imgRowColumn"
						th:each="shoes_table_img:${shoes_table}"
						th:classappend="${shoes_table_img.active} ? activeImg : inactiveImg">
						<img th:src="@{${shoes_table_img.urlSmall}}" th:attr="src_big=${shoes_table_img.url}"
							class="img-circle pointer" th:alt="${shoes_table_img.name}"
							width="150" height="150" data-bind="click : shoes.togglePreview"></img>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-lg-1 pointer" data-bind="click : shoes.next">
				<span class="glyphicon glyphicon-chevron-right navArrow"
					aria-hidden="true"></span> <span class="sr-only"></span>
			</div>
		</div>
	</div>
</div>
<div th:fragment="shoes_mobile">
	<div id="shoesCarousel" class="carousel slide filzCarousel" data-ride="carousel" >
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#shoesCarousel" th:each="shoes_table_img,itemStat : ${shoes_table}"
			    th:classappend="${itemStat.index} == 0 ? active: ''"
			    th:attr="data-slide-to=${itemStat.index}"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item" th:each="shoes_table_img,itemStat : ${shoes_table}"
			     th:classappend="${itemStat.index} == 0 ? active: ''">
				<img th:src="@{${shoes_table_img.url}}"
				     th:alt="${shoes_table_img.name}"></img>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#shoesCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only"></span>
		</a>
		<a class="right carousel-control" href="#shoesCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only"></span>
		</a>
	</div>
</div>



