<div th:fragment="shoes">
	<div class="row mainpage visible-sm visible-md visible-lg">
		<div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center">
			<img src="images/20140825_132152.jpg" class="img" alt="Cinque Terre"
				width="600" height="450"></img>
			<p>Test123</p>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table-bordered">
			<thead>
				<tr >
					<th th:each="shoes_table_img:${shoes_table}" th:text="${shoes_table_img.name}">Schuhe 1</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:each="shoes_table_img:${shoes_table}"><img th:src="@{${shoes_table_img.url}}"
						class="img-responsive" th:alt="${shoes_table_img.name}" width="250"></img></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>