<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Filzobjekt</title>
<link rel="stylesheet" type="text/css" href="css/ext/jquery-ui.css"></link>
<link rel="stylesheet" type="text/css"
	href="css/ext/jquery-ui.structure.css"></link>
<link rel="stylesheet" type="text/css"
	href="css/ext/jquery-ui.theme.css"></link>
<link rel="stylesheet" type="text/css" href="css/style.css"></link>
<script type="text/javascript" src="js/ext/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/ext/jquery-ui.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>
<body onload="de.filzobjekt.render()">
	<div class="headline">Filzobjekt</div>
	<div class="headnav">
		<button name="gabi" class="headnav_button headnav_left">Gabi
			Bauer</button>
		<button name="impressum" class="headnav_button headnav_middle">Impressum</button>
		<button name="kontakt" class="headnav_button headnav_right">Kontakt</button>
	</div>
	<div class="mainpage">
		<div class="navigation floatleft">
			<ul>
				<li>
					<a th:href="home"><button name="home" class="filz_button">Home</button></a>
				</li>
				<li>
					<a th:href="shoes"><button name="shoes" class="filz_button">Schuhe</button></a>
				</li>
				<li>
					<button name="handbag" class="filz_button">Taschen</button>
				</li>
				<li>
					<button name="object" class="filz_button">Objekte</button>
				</li>
				<li>
					<button name="seat_pad" class="filz_button">Kissen</button>
				</li>
				<li>
					<button name="scarf" class="filz_button">Schals</button>
				</li>
			</ul>
		</div>
		<div class="filzpage floatleft">
		<div th:if="${ishome}">
			<div th:replace="home ::home"></div>
			<div th:replace="home ::news"></div>
		</div>
		</div>
	</div>
</body>
</html>